*{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.items{
  display: inline-block;
  margin:71px;
  border: 1px black double;
  padding:10px
}
.items a{
  display: block;
  margin-top: 10px;
}
.items img{
  width:500px;
  height:350px;
}

.items p{
  margin: 10px 0 10px 0;
}

input[type="submit"] {
  display: inline-block;
  width: 160px;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #42c7c1;
  font-size: 15px;
  letter-spacing: 0.1em;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.main{
  height: 650px;
  width:500px;
  margin: 0 auto;
  border: black 1px double;
}
